---
title: "A Three-Part View on Solid Web Forms"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ieben Smessaert', 'https://smessaert.be', 'https://solid.smessie.com/profile/card#me' %>
- <%= person 'Prof. dr. ir. Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>
- <%= person 'Dr. ir. Ruben Taelman', 'https://rubenworks.net/', 'https://rubenworks.net/' %>
- <%= person 'Patrick Hochstenbach', 'https://patrickhochstenbach.net', 'https://hochstenbach.solidcommunity.net/profile/card#me' %>
- <%= person 'Prof. dr. Pieter Colpaert', 'https://pietercolpaert.be/', 'https://pietercolpaert.be/#me' %>

{:#affiliations}
- {:#myaffiliation} Ghent University.

</header>

<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<hr class="printonly">
<%= section 'abstract' %>
<hr class="printonly">
<br class="printonly">

<div class="double-column">
<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction' %>
  <%= section 'architecture' %>
  <%= section 'environments' %>
  <%= section 'reasoning' %>
  <%= section 'interface' %>
  <%= section 'evaluation' %>
  <%= section 'conclusion' %>
</main>

<footer></footer>

</div>
